name: Java CI with Gradle

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Container start
        run: docker-compose up --build &
      - name: Waiting for —Åontainer start
        run: sleep 30
      - name: Start SUT
        run: java "-Dspring.datasource.url=jdbc:mysql://localhost:3306/app" -jar artifacts/aqa-shop.jar &
      - name: Build with Gradle
        run: ./gradlew clean test "-Ddb.url=jdbc:mysql://localhost:3306/app" --info -Dselenide.headless=true
